
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">
    Yardım
</button>

<div class="modal" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1> Hakkımda </h1>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                        Merhabalar. Ben Okan Derecik. Murat Yücedağ 'ın Youtube üzerinde ücretsiz olarak yayınladığı 50 Derste MVC dersinin 45. dersinin sonuna kadar yaptıklarımın özetidir. Teşekkürler.
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

